In [1]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [4]:
#import and review data

df=pd.read_csv(Path('./start-up_success.csv'))
df.head(3)

   Financial Performance  Industry Health  Firm Category
0              -2.761650        -2.414516              0
1               2.867162         1.989524              1
2              -0.701230        -1.074845              0

In [3]:
df['Firm Category'].value_counts()

0    978
1    346
Name: Firm Category, dtype: int64

In [5]:
#split training and testing sets
#Create X, or the features for the DataFrame
#Create y, or target DataFrame
#Use train_test_split to separate the data

features = df[['Financial Performance', 'Industry Health']]

target=df['Firm Category']

training_features, testing_features, training_targets, testing_targest = train_test_split(features, target)

In [7]:
#review resulting dataframes
training_features

      Financial Performance  Industry Health
495               -1.752546         0.333847
567               -2.367774        -0.635613
245               -1.639876        -0.587732
643                2.248499         1.899642
1268               1.350712         1.542416
...                     ...              ...
941               -2.895292        -0.435137
1258              -2.028294        -0.311516
1168              -1.819848        -1.571464
330                0.470209         0.878803
653               -1.493193        -3.353842

[993 rows x 2 columns]

In [10]:
#import LogisticRegression from sklearn
from sklearn.linear_model import LogisticRegression

In [11]:
logistic_regression_model = LogisticRegression()

In [12]:
#Fit the model
logistic_regression_model.fit(training_features, training_targets)

LogisticRegression()

In [13]:
#Generate predictions from the newly fitted model
predictions = logistic_regression_model.predict(training_features)

In [14]:
#Convert those predictions (and actual values) to a DataFrame
results_df = pd.DataFrame({'Prediction':predictions,'Actual':training_targets})
results_df

      Prediction  Actual
495            0       0
567            0       0
245            0       0
643            1       1
1268           1       1
...          ...     ...
941            0       0
1258           0       0
1168           0       0
330            1       1
653            0       0

[993 rows x 2 columns]

In [15]:
#apply the fitted model to the test dataset
testing_predictions = logistic_regression_model.predict(testing_features)

In [17]:
#save both the test predictions and actual test values to a df
test_results_df = pd.DataFrame({'Testing Data Predictions':testing_predictions,'Testing Data Actual Targets':testing_targest})
test_results_df

      Testing Data Predictions  Testing Data Actual Targets
857                          1                            1
29                           0                            0
720                          0                            0
813                          0                            0
1108                         1                            1
...                        ...                          ...
859                          0                            0
443                          0                            0
548                          0                            0
638                          1                            1
910                          0                            0

[331 rows x 2 columns]

In [18]:
#Import the accuracy_score function from sklearn.metrics
from sklearn.metrics import accuracy_score

In [19]:
#calculate the model's accuracy on the test dataset
accuracy_score(testing_targest,testing_predictions)

1.0

In [21]:
#1.0 means the model predicted every set of features in the testing set correctly. This is rare in actual practice
#Be wary of overfitting, a high score should make you suspicious of this.